<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Iceberg&display=swap" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="/assets/image/logo-main.svg" />
  <link rel="stylesheet" href="./assets/css/admin.css" />
  <title>Admin For Savka</title>
</head>

<body>
  <% if (error) { %>
    <p class="error">
      <%= error %>
    </p>
    <% } %>

      <div class="logo"><img src="./assets/image/logo-footer.svg" alt="logo" /></div>
      <form class="login-system" action="/deshychi_vhid" method="post">
        <label for="login">Логін</label>
        <input type="text" id="login" name="login" required /><br />
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" required /><br />
        <div class="button-wrap">
          <input class="button-wrap__button" type="submit" value="Увійти" />
        </div>
      </form>
</body>

</html>